<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.CourseStatMapper">
	<resultMap id="CourseStatResult" type="CourseStat">
		<result property="tutor" column="tutor" />
		<result property="total" column="total" />
	</resultMap>
</mapper>